
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Schibsted Grotesk', sans-serif;
  background-color: #dfe7d0;
  color: #111;
  line-height: 1.6;

  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 40px;
  text-align: left;
}


h1 {
  font-size: clamp(1.8rem, 5vw, 2.75rem);
  font-weight: 700;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  color: #6d5f5a;
}

h3 {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}


p {
  margin-bottom: 10px;
}


ul {
  margin-top: 10px;
  padding-left: 20px;
}

li {
  margin-bottom: 6px;
}


.project-card {
  width: 280px;
  border-radius: 10px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}


.icons {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icons img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.project-card {
  position: relative;
  width: 320px;
  overflow: hidden;
  border-radius: 12px;
}

.project-card video {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding: 20px;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.project-card:hover video {
  opacity: 0.3;
}

.project-card:hover img {
  opacity: 0.3;
}

.project-card:hover .overlay {
  opacity: 1;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects h3 {
  width: 100%;
}

.typewriter {
  display: flex;
}

.typewriter h1 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid black;
  width: 0;
  animation: typing 2.8s steps(18, end) forwards,
  blink 0.8s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch;
  }
}

@keyframes blink{
  50% {
    border-color: transparent;
  }
}

.inline {
  vertical-align: middle;
}
.contact-row {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
}
.webring {
  margin-left: auto;
}

.underline-gone {
  text-decoration: none;
}